* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
}

$light_purple : #E3E9FF;
$deep_purple : #AF7EEB;

@mixin flex {
    display: flex;
    justify-content: center;
}

@mixin img24 {
    width: 24px;
    height: 24px;
};

@mixin inputStyle {
    width: 300px;
    padding: 10px;
    outline: none;
}


.todo_wrap {
    width: 500px;
    position: absolute;
    top: 10%;
    left: 35%;
    
    h2 {
        background-color: $deep_purple;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 30px;
        box-shadow: 0px 0px 5px $deep_purple;
    }
}

.top {
    background-color:#fff;
    padding-bottom: 30px;
    box-shadow: 0px 0px 5px #aaa;

    p {
        padding-top: 10px;
        color: #3A3F49;
    }
}

/* list */
.lists_wrap {
    padding: 20px 0 10px 30px;
}

.lists {
    position: relative;

    input[type="checkbox"] {
        appearance: none;
        width: 10px;
        height: 10px;
        border: 1px solid #3A3F49;
        border-radius: 50%;
    }
    input[type="checkbox"]:checked {
        border: none;
        background-color: $deep_purple;
    }
}

.todo {
    display: inline-block;
    padding-left: 10px;
    color: #fff;
}

.list_btns {
    position: absolute;
    top: 8px;
    right: 25px;
    display: inline-block;

    img {
        cursor: pointer;
        @include img24();
    }

    span:last-child img {
        margin-left: 13px;
    }

}

/* create */
.newTaskBtn {
       @include flex();
       background-color: $deep_purple;
       color: #fff;
       font-weight: bold;
       width: 150px;
       padding: 10px;
       border-radius: 20px;
       cursor: pointer;
       position: relative;
       top: 50px;
       box-shadow: 0px 0px 5px $deep_purple;
}

.create_wrap {
    width: 100%;
    @include flex();
    align-items: center;
    padding-top: 30px;

    input {
        @include inputStyle();
    }
}

.addBtn {
    padding: 10px;
    background-color: $deep_purple;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* edit */
.edits {
    position: relative;

    input {
        @include inputStyle();
        color: #000;
    }
}

.edit_btns {
    position: absolute;
    top: 5px;
    right: 25px;
    display: inline-block;

    img {
        @include img24();
        cursor: pointer;
    }

    span:last-child img {
        margin-left: 15px;
    }
}